# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.loan_approvial.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dataset (optional)
# If dataset is large, ignore it
# *.csv

# CatBoost / ML artifacts
catboost_info/